{:paths ["src" "resources"]
 :deps {http-kit/http-kit      {:mvn/version "2.8.1"}
        metosin/reitit-ring    {:mvn/version "0.10.1"}
        metosin/reitit-malli      {:mvn/version "0.10.1"}
        metosin/reitit-middleware {:mvn/version "0.10.1"}
        metosin/muuntaja       {:mvn/version "0.6.11"}
        metosin/malli {:mvn/version "0.20.1"}
        ring/ring-defaults     {:mvn/version "0.5.0"}
        ring-cors/ring-cors    {:mvn/version "0.1.13"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
