{:paths ["src" "resources"]
 :deps {no.cjohansen/replicant {:mvn/version "2025.12.1"}
        no.cjohansen/portfolio {:mvn/version "2026.03.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}

